// Styles built on bootstrap


// Media Query / Old IE Mixins (http://jakearchibald.github.io/sass-ie/)
$fix-mqs: false !default;
$old-ie: false !default;
@mixin mq-min($width) {
  @if $fix-mqs {
    @if $fix-mqs >= $width {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }
}
@mixin mq-max($width) {
  @if $fix-mqs {
    @if $fix-mqs < $width {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $width) {
      @content;
    }
  }
}
@mixin old-ie {
  @if $old-ie {
    @content;
  }
}


.container-fluid {
  margin: 2em 5%;
}


.main {
  padding-top: 2em;
}

.rep-list {
  padding-left: 2em;
}


.media-left {
  display: none;

  @include mq-min(400px) {
    display: table-cell;
  }
}

.results img {
  display: none !important;
  max-width: 100px;

  @include mq-min(400px) {
    display: block !important;
  }

  @include mq-min(600px) {
    max-width: 200px;
  }
}


.footer {
  opacity: 0.6;
  font-style: italic;
  padding-top: 3em;

  p {
    font-size: 11px;
  }
}

.logo {
  box-shadow: 0 0 0.25em rgba(0,0,0,0.4);
  border: 1px solid #fff;
  display: block;
  border-radius: 1em;
  margin: 0 auto 1em;
  width: 400px;
}
