.container-fluid {
  margin: 2em 5%; }

.main {
  padding-top: 2em; }

.rep-list {
  padding-left: 2em; }

.media-left {
  display: none; }
  @media screen and (min-width: 400px) {
    .media-left {
      display: table-cell; } }

.results img {
  display: none !important;
  max-width: 100px; }
  @media screen and (min-width: 400px) {
    .results img {
      display: block !important; } }
  @media screen and (min-width: 600px) {
    .results img {
      max-width: 200px; } }

.footer {
  opacity: 0.6;
  font-style: italic;
  padding-top: 3em; }
  .footer p {
    font-size: 11px; }

.logo {
  border: 1px solid #fff;
  border-radius: 1em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.4);
  display: block;
  max-width: 100%;
  margin: 0 auto 1em;
  width: 400px; }
