<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>My Representatives</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <img class="logo" src="img/temp-logo.jpg" alt="My Representatives">
        <p>My Representatives is the fastest and easiest way to find out who is representing you at every level of government. Simply enter your street address and zip code to see who your elected officials are categorized according to the level of government at which they serve.</p>
      </div>
    </div>

    <div class="row main">
      <div class="col-md-12 main-well">
        <form id="addressForm" class="form-group">
          <input type="text" class="form-control" id="addressInput" placeholder="Enter Your Address">
        </form>

        <!-- Results -->
        <div class="results"></div>
      </div>
    </div>
    <div class="footer">
      <p>The concept for this idea was created by <a href="https://www.linkedin.com/in/celnser">Chris Elsner</a>. This site was developed by a team of civic minded Tucsonans at <a href="http://hackforchange.org/">The National Day of Civic Hacking</a> sponsored by <a href="http://codefortucson.org/">Code for Tucson</a>. Team members include <a href="http://jesgundy.github.io/">Jes Gundy</a>, Jason Bertram, <a href="https://www.linkedin.com/in/derrickyoo">Derrick Yoo</a>, <a href="http://helpmerick.com/">Rick Castellini</a>, <a href="mailto:lizravenwood@gmail.com">Liz Ravenwood</a>, Debra Parker, and Ali Traut.</p>
    </div>
  </div>


  <!-- Representative Block Template -->
  <script type="text/html" id="repTemplate">
    <div class="well">
      <div class="media">

        <% if (typeof photoUrl !== "undefined") { %>
          <div class="media-left">
            <img class="media-object" src="<%= photoUrl %>" alt="<%= name %>">
          </div>
        <% } %>

        <div class="media-body">
          <h4 class="media-heading"><%= name %></h4>

          <ul class="rep-list">

            <% if (typeof party !== "undefined") { %>
              <li>Party: <strong><%= party %></strong></li>
            <% } %>

            <% if (typeof phone !== "undefined") { %>
              <li>Phone: <strong><%= phone %></strong></li>
            <% } %>

            <% if (typeof address !== "undefined" && typeof address[0] !== "undefined" && typeof address[0].city !== "undefined" && typeof address[0].state !== "undefined") { %>
              <li>Location: <strong><%= address[0].city %>, <%= address[0].state %></strong></li>
            <% } %>


            <!-- Channels -->
            <% if (typeof channels !== "undefined") { %>
              <% _.each(channels, function(channel){ %>
                <% if (channel.type == 'Twitter') { %>
                  <li><a target="_blank" href="http://twitter.com/<%= channel.id %>">View on Twitter</a></li>
                <% } %>

                <% if (channel.type == 'Facebook') { %>
                  <li><a target="_blank" href="http://facebook.com/<%= channel.id %>">View on Facebook</a></li>
                <% } %>

                <% if (channel.type == 'YouTube') { %>
                  <li><a target="_blank" href="http://youtube.com/<%= channel.id %>">View on YouTube</a></li>
                <% } %>
              <% }); %>
            <% } %>


            <% if (typeof urls !== "undefined") { %>
              <li>Other Websites:
                <ul class="rep-list">
                  <% _.each(urls, function(url){ %>
                    <li><a target="_blank" href="<%= url %>"><%= url %></a></li>
                  <% }); %>
                </ul>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </script>


  <!-- Require.js -->
  <script>REQUIRE_NOCACHE = true;</script>
  <script data-main="js/main.js" src="js/lib/require.js"></script>

</body>
</html>
